numpy<2.0.0
colossalai>=0.4.4
mmengine>=0.10.3
ftfy>=6.2.0 # for t5
accelerate>=0.29.2 # for t5
av>=12.0.0 # for video loading
flash_attn
liger-kernel==0.5.2

# [data list]
pandas>=2.0.3
dask # for parquet loading
pandarallel>=1.6.5

# [training]
wandb>=0.17.0
tensorboard>=2.14.0
pytorch_optimizer

# [dev]
pre-commit>=3.5.0
openai
pytest

# [gradio]
gradio>=4.26.0
spaces>=0.28.3

# [ip]
insightface
onnxruntime

# [cli]
prompt_toolkit
